{{ template "header.tmpl"}}

    <div class="container">
      <nav>
        <a href="/logout">Logout</a>
      </nav>

      <main>
        <h1>Seznam monitorovanych url</h1>
        <table class="table">
          <thead>
            <tr class="table-head">
              <th>Url</th>
              <th></th>
              <th>Akce</th>
            </tr>
          </thead>

          <tbody id="tables">
          </tbody>

        </table>

        <h2>Přidat url</h2>
        <form id="add-table-form" class="form">
          <label for="table-name form-label">Add new endpoint:</label><br>
          <input type="text" class="form-control" id="table-name" name="table-name"><br>
          <button type="submit" class="btn btn-primary">Přidat</button>
        </form>

      </main>
    </div>

    <script src="/assets/api.js">
    </script>
    <script src="/assets/bootstrap.bundle.min.js">
    </script>

  </body>
</html>